<div class="card card-car-mini">
  <img src="/assets/SearchWithoutRegistration/azlk-1.png" class="card-img-top" alt="...">
  <div class="card-body card-car-body-car-mini d-flex justify-content-around">
    <div class="overflow-auto card-title-car-mini"><h6 class="card-title">MERCEDES-BENZ G-CLASS</h6></div>
    <div class="card-text flex-basic10"><small class="text-muted">2020</small></div>
    <div class="card card-car-mini-price m-2 flex-basic30 d-flex flex-wrap">
      <div>$</div>
      <div>180</div>
      <div>
        <div class="per-day">PER DAY</div>
      </div>
    </div>
  </div>
</div>
